In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("charity_data.csv")
application_df.head()

2023-04-09 23:52:25.891053: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2023-04-09 23:52:28.359130: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2023-04-09 23:52:28.360209: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX512F FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-04-09 23:52:32.814772: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
#Deliverable 3, part 1: changing nn model
application_df = application_df.drop(columns=['EIN', 'NAME'])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
application_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()
application_df[application_cat].nunique()

APPLICATION_TYPE          17
AFFILIATION                6
CLASSIFICATION            71
USE_CASE                   5
ORGANIZATION               4
INCOME_AMT                 9
SPECIAL_CONSIDERATIONS     2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
app_type = application_df.APPLICATION_TYPE.value_counts()
app_type

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Determine which values to replace if counts are less than ...?
replace_application = list(app_type[app_type < 200].index)
    
# Replace in dataframe
for app in replace_application:
    application_df.APPLICATION_TYPE = application_df.APPLICATION_TYPE.replace(app,"Other")
    
# Check to make sure binning was successful
application_df.APPLICATION_TYPE.value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
class_val = application_df.CLASSIFICATION.value_counts()
class_val.head()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [7]:
# Determine which values to replace if counts are less than ..?
replace_class = list(class_val[class_val < 300].index)

# Replace in dataframe
for cls in replace_class:
    application_df.CLASSIFICATION = application_df.CLASSIFICATION.replace(cls,"Other")
    
# Check to make sure binning was successful
application_df.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [8]:
application_df[application_cat].nunique()

APPLICATION_TYPE          9
AFFILIATION               6
CLASSIFICATION            7
USE_CASE                  5
ORGANIZATION              4
INCOME_AMT                9
SPECIAL_CONSIDERATIONS    2
dtype: int64

In [9]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(application_df[application_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names_out(application_cat)
encode_df.head()

/home/codespace/.local/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,AFFILIATION_CompanySponsored,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [10]:
# Merge one-hot encoded features and drop the originals
application_df = application_df.merge(encode_df,left_index=True, right_index=True)
application_df = application_df.drop(application_cat,1)
application_df.head()

/tmp/ipykernel_19157/2023052568.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  application_df = application_df.drop(application_cat,1)

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [11]:
# Split our preprocessed data into our features and target arrays
y = application_df.IS_SUCCESSFUL.values
X = application_df.drop(["IS_SUCCESSFUL"], 1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

/tmp/ipykernel_19157/309149949.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X = application_df.drop(["IS_SUCCESSFUL"], 1).values

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [13]:
#OPTIMIZATION ATTEMPTS
#1: Dropped same two columns, layer 1 changed to 60 neurons, layer 2 changed to 25, epochs=100. Acc=72.
#2: Ran an optimizer, nothing did better than 72.8%
#3: Dropping less columns, binned names with only 1 loan request, top Acc= ~80%
#4: Dropping more columns
#

In [13]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 60
hidden_nodes_layer2 = 25

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 60)                2700

 dense_1 (Dense)             (None, 25)                1525

 dense_2 (Dense)             (None, 1)                 26

=================================================================
Total params: 4,251
Trainable params: 4,251
Non-trainable params: 0
_________________________________________________________________

In [14]:
# Import checkpoint dependencies
import os
from tensorflow.keras.callbacks import ModelCheckpoint

# # Define the checkpoint path and filenames
# os.makedirs("checkpoints/",exist_ok=True)
# checkpoint_path = "checkpoints/weights.{epoch:02d}.hdf5"

In [15]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# # Create a callback that saves the model's weights every 5 epoch
# cp_callback = ModelCheckpoint(
#     filepath=checkpoint_path,
#     verbose=1,
#     save_weights_only=True,
#     save_freq= 5)

In [16]:
# Train the model   ***, callbacks=[cp_callback]***
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 1ms/step - loss: 0.5672 - accuracy: 0.7225
Epoch 2/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5539 - accuracy: 0.7300
Epoch 3/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5508 - accuracy: 0.7336
Epoch 4/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5484 - accuracy: 0.7332
Epoch 5/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5477 - accuracy: 0.7346
Epoch 6/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5472 - accuracy: 0.7331
Epoch 7/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5460 - accuracy: 0.7342
Epoch 8/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5453 - accuracy: 0.7350
Epoch 9/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5447 - accuracy: 0.7359
Epoch 10/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5445 - accuracy: 0.7358
Epoch 11/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5439 - accuracy: 0.7366
Epoch 12/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5435 - accuracy: 0.7362
Epoch 13/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5427 - accuracy: 0.7346
Epoch 14/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5431 - accuracy: 0.7364
Epoch 15/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5426 - accuracy: 0.7365
Epoch 16/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5426 - accuracy: 0.7367
Epoch 17/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5419 - accuracy: 0.7362
Epoch 18/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5422 - accuracy: 0.7359
Epoch 19/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5416 - accuracy: 0.7375
Epoch 20/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5407 - accuracy: 0.7364
Epoch 21/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5412 - accuracy: 0.7373
Epoch 22/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5414 - accuracy: 0.7372
Epoch 23/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5408 - accuracy: 0.7370
Epoch 24/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5399 - accuracy: 0.7370
Epoch 25/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5404 - accuracy: 0.7372
Epoch 26/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5397 - accuracy: 0.7377
Epoch 27/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5399 - accuracy: 0.7380
Epoch 28/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5398 - accuracy: 0.7386
Epoch 29/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5396 - accuracy: 0.7388
Epoch 30/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5391 - accuracy: 0.7391
Epoch 31/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5395 - accuracy: 0.7388
Epoch 32/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5392 - accuracy: 0.7382
Epoch 33/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5391 - accuracy: 0.7378
Epoch 34/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5388 - accuracy: 0.7391
Epoch 35/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5386 - accuracy: 0.7394
Epoch 36/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5386 - accuracy: 0.7390
Epoch 37/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5384 - accuracy: 0.7384
Epoch 38/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5382 - accuracy: 0.7386
Epoch 39/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5388 - accuracy: 0.7402
Epoch 40/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5381 - accuracy: 0.7392
Epoch 41/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5382 - accuracy: 0.7381
Epoch 42/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5380 - accuracy: 0.7388
Epoch 43/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5379 - accuracy: 0.7400
Epoch 44/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5375 - accuracy: 0.7391
Epoch 45/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5376 - accuracy: 0.7396
Epoch 46/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5376 - accuracy: 0.7399
Epoch 47/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5374 - accuracy: 0.7403
Epoch 48/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5368 - accuracy: 0.7403
Epoch 49/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5368 - accuracy: 0.7405
Epoch 50/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5375 - accuracy: 0.7400
Epoch 51/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5372 - accuracy: 0.7407
Epoch 52/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5364 - accuracy: 0.7400
Epoch 53/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5367 - accuracy: 0.7396
Epoch 54/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5364 - accuracy: 0.7391
Epoch 55/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5363 - accuracy: 0.7403
Epoch 56/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5364 - accuracy: 0.7392
Epoch 57/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5364 - accuracy: 0.7414
Epoch 58/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5361 - accuracy: 0.7406
Epoch 59/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5360 - accuracy: 0.7400
Epoch 60/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5364 - accuracy: 0.7397
Epoch 61/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5359 - accuracy: 0.7412
Epoch 62/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5357 - accuracy: 0.7391
Epoch 63/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5359 - accuracy: 0.7411
Epoch 64/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5360 - accuracy: 0.7404
Epoch 65/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5358 - accuracy: 0.7412
Epoch 66/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5356 - accuracy: 0.7390
Epoch 67/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5359 - accuracy: 0.7401
Epoch 68/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5353 - accuracy: 0.7400
Epoch 69/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5354 - accuracy: 0.7402
Epoch 70/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5350 - accuracy: 0.7409
Epoch 71/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5351 - accuracy: 0.7411
Epoch 72/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5348 - accuracy: 0.7403
Epoch 73/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5352 - accuracy: 0.7398
Epoch 74/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5350 - accuracy: 0.7400
Epoch 75/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5348 - accuracy: 0.7412
Epoch 76/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5349 - accuracy: 0.7412
Epoch 77/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5345 - accuracy: 0.7416
Epoch 78/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5347 - accuracy: 0.7408
Epoch 79/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5342 - accuracy: 0.7417
Epoch 80/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5342 - accuracy: 0.7407
Epoch 81/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5347 - accuracy: 0.7408
Epoch 82/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5345 - accuracy: 0.7415
Epoch 83/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5341 - accuracy: 0.7411
Epoch 84/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5342 - accuracy: 0.7400
Epoch 85/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5340 - accuracy: 0.7407
Epoch 86/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5342 - accuracy: 0.7418
Epoch 87/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5336 - accuracy: 0.7413
Epoch 88/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5340 - accuracy: 0.7409
Epoch 89/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5338 - accuracy: 0.7407
Epoch 90/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5338 - accuracy: 0.7410
Epoch 91/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5336 - accuracy: 0.7415
Epoch 92/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5336 - accuracy: 0.7420
Epoch 93/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5334 - accuracy: 0.7419
Epoch 94/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5334 - accuracy: 0.7411
Epoch 95/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5334 - accuracy: 0.7411
Epoch 96/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5331 - accuracy: 0.7413
Epoch 97/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5341 - accuracy: 0.7418
Epoch 98/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5337 - accuracy: 0.7415
Epoch 99/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5332 - accuracy: 0.7422
Epoch 100/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5333 - accuracy: 0.7407

In [17]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5584 - accuracy: 0.7248 - 375ms/epoch - 1ms/step
Loss: 0.5584015846252441, Accuracy: 0.724781334400177

In [19]:
# # Export our model to HDF5 file
# nn.save("trained_attrition2.h5")

In [18]:
#Setup to find best options
# Create a method that creates a new Sequential model with hyperparameter options
def create_model(hp):
    nn_model = tf.keras.models.Sequential()

    # Allow kerastuner to decide which activation function to use in hidden layers
    activation = hp.Choice('activation',['relu','tanh','sigmoid'])
    
    # Allow kerastuner to decide number of neurons in first layer
    nn_model.add(tf.keras.layers.Dense(units=hp.Int('first_units',
        min_value=1,
        max_value=100,
        step=2), activation=activation, input_dim=44))

    # Allow kerastuner to decide number of hidden layers and neurons in hidden layers
    for i in range(hp.Int('num_layers', 1, 6)):
        nn_model.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
            min_value=1,
            max_value=100,
            step=2),
            activation=activation))
    
    nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # Compile the model
    nn_model.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])
    
    return nn_model

In [19]:
# Import the kerastuner library
!pip install keras-tuner
import kerastuner as kt

tuner = kt.Hyperband(
    create_model,
    objective="val_accuracy",
    #overwrite=True,
    max_epochs=20,
    hyperband_iterations=2)

Requirement already satisfied: keras-tuner in /usr/local/python/3.10.4/lib/python3.10/site-packages (1.3.4)
Requirement already satisfied: requests in /home/codespace/.local/lib/python3.10/site-packages (from keras-tuner) (2.28.2)
Requirement already satisfied: protobuf<=3.20.3 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from keras-tuner) (3.20.3)
Requirement already satisfied: tensorflow>=2.0 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from keras-tuner) (2.12.0)
Requirement already satisfied: kt-legacy in /usr/local/python/3.10.4/lib/python3.10/site-packages (from keras-tuner) (1.0.4)
Requirement already satisfied: packaging in /home/codespace/.local/lib/python3.10/site-packages (from keras-tuner) (23.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /home/codespace/.local/lib/python3.10/site-packages (from tensorflow>=2.0->keras-tuner) (4.5.0)
Requirement already satisfied: flatbuffers>=2.0 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorflow>=2.0->keras-tuner) (23.3.3)
Requirement already satisfied: six>=1.12.0 in /home/codespace/.local/lib/python3.10/site-packages (from tensorflow>=2.0->keras-tuner) (1.16.0)
Requirement already satisfied: setuptools in /home/codespace/.local/lib/python3.10/site-packages (from tensorflow>=2.0->keras-tuner) (67.6.0)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorflow>=2.0->keras-tuner) (0.32.0)
Requirement already satisfied: google-pasta>=0.1.1 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorflow>=2.0->keras-tuner) (0.2.0)
Requirement already satisfied: tensorboard<2.13,>=2.12 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorflow>=2.0->keras-tuner) (2.12.1)
Requirement already satisfied: jax>=0.3.15 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorflow>=2.0->keras-tuner) (0.4.8)
Requirement already satisfied: tensorflow-estimator<2.13,>=2.12.0 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorflow>=2.0->keras-tuner) (2.12.0)
Requirement already satisfied: numpy<1.24,>=1.22 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorflow>=2.0->keras-tuner) (1.23.5)
Requirement already satisfied: h5py>=2.9.0 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorflow>=2.0->keras-tuner) (3.8.0)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorflow>=2.0->keras-tuner) (3.3.0)
Requirement already satisfied: libclang>=13.0.0 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorflow>=2.0->keras-tuner) (16.0.0)
Requirement already satisfied: astunparse>=1.6.0 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorflow>=2.0->keras-tuner) (1.6.3)
Requirement already satisfied: keras<2.13,>=2.12.0 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorflow>=2.0->keras-tuner) (2.12.0)
Requirement already satisfied: wrapt<1.15,>=1.11.0 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorflow>=2.0->keras-tuner) (1.14.1)
Requirement already satisfied: absl-py>=1.0.0 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorflow>=2.0->keras-tuner) (1.4.0)
Requirement already satisfied: gast<=0.4.0,>=0.2.1 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorflow>=2.0->keras-tuner) (0.4.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorflow>=2.0->keras-tuner) (1.53.0)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorflow>=2.0->keras-tuner) (2.2.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/codespace/.local/lib/python3.10/site-packages (from requests->keras-tuner) (3.1.0)
Requirement already satisfied: certifi>=2017.4.17 in /home/codespace/.local/lib/python3.10/site-packages (from requests->keras-tuner) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/codespace/.local/lib/python3.10/site-packages (from requests->keras-tuner) (1.26.15)
Requirement already satisfied: idna<4,>=2.5 in /home/codespace/.local/lib/python3.10/site-packages (from requests->keras-tuner) (3.4)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /home/codespace/.local/lib/python3.10/site-packages (from astunparse>=1.6.0->tensorflow>=2.0->keras-tuner) (0.38.4)
Requirement already satisfied: scipy>=1.7 in /home/codespace/.local/lib/python3.10/site-packages (from jax>=0.3.15->tensorflow>=2.0->keras-tuner) (1.10.1)
Requirement already satisfied: ml-dtypes>=0.0.3 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from jax>=0.3.15->tensorflow>=2.0->keras-tuner) (0.0.4)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorboard<2.13,>=2.12->tensorflow>=2.0->keras-tuner) (0.7.0)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorboard<2.13,>=2.12->tensorflow>=2.0->keras-tuner) (3.4.3)
Requirement already satisfied: werkzeug>=1.0.1 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorboard<2.13,>=2.12->tensorflow>=2.0->keras-tuner) (2.2.3)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorboard<2.13,>=2.12->tensorflow>=2.0->keras-tuner) (1.8.1)
Requirement already satisfied: google-auth-oauthlib<1.1,>=0.5 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorboard<2.13,>=2.12->tensorflow>=2.0->keras-tuner) (1.0.0)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorboard<2.13,>=2.12->tensorflow>=2.0->keras-tuner) (2.17.2)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow>=2.0->keras-tuner) (5.3.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow>=2.0->keras-tuner) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow>=2.0->keras-tuner) (4.9)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from google-auth-oauthlib<1.1,>=0.5->tensorboard<2.13,>=2.12->tensorflow>=2.0->keras-tuner) (1.3.1)
Requirement already satisfied: MarkupSafe>=2.1.1 in /home/codespace/.local/lib/python3.10/site-packages (from werkzeug>=1.0.1->tensorboard<2.13,>=2.12->tensorflow>=2.0->keras-tuner) (2.1.2)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow>=2.0->keras-tuner) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<1.1,>=0.5->tensorboard<2.13,>=2.12->tensorflow>=2.0->keras-tuner) (3.2.2)
INFO:tensorflow:Reloading Tuner from ./untitled_project/tuner0.json

/tmp/ipykernel_19157/1658030093.py:3: DeprecationWarning: `import kerastuner` is deprecated, please use `import keras_tuner`.
  import kerastuner as kt

In [20]:
# Run the kerastuner search for best hyperparameters
tuner.search(X_train_scaled,y_train,epochs=20,validation_data=(X_test_scaled,y_test))

INFO:tensorflow:Oracle triggered exit

In [21]:
# Get best model hyperparameters
best_hyper = tuner.get_best_hyperparameters(1)[0]
best_hyper.values

{'activation': 'relu',
 'first_units': 83,
 'num_layers': 3,
 'units_0': 69,
 'units_1': 69,
 'units_2': 27,
 'units_3': 91,
 'units_4': 47,
 'units_5': 83,
 'tuner/epochs': 20,
 'tuner/initial_epoch': 7,
 'tuner/bracket': 1,
 'tuner/round': 1,
 'tuner/trial_id': '0022'}

In [22]:
# Evaluate best model against full test data
best_model = tuner.get_best_models(1)[0]
model_loss, model_accuracy = best_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5541 - accuracy: 0.7271 - 451ms/epoch - 2ms/step
Loss: 0.5540583729743958, Accuracy: 0.7271137237548828

In [2]:
#  Import and read the charity_data.csv for new testing #3
import pandas as pd 
application_df2 = pd.read_csv("charity_data.csv")
application_df2.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
application_cat2 = application_df2.dtypes[application_df2.dtypes == "object"].index.tolist()
application_df2[application_cat2].nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
dtype: int64

In [4]:
# Look at NAME value counts for binning
names2 = application_df2.NAME.value_counts()
names2

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [5]:
# Determine which values to replace if counts are less than ...?
replace_name2 = list(names2[names2 < 2].index)
    
# Replace in dataframe
for name in replace_name2:
    application_df2.NAME = application_df2.NAME.replace(name,"Other")
    
# Check to make sure binning was successful
application_df2.NAME.value_counts()

Other                                                                 18776
PARENT BOOSTER USA INC                                                 1260
TOPS CLUB INC                                                           765
UNITED STATES BOWLING CONGRESS INC                                      700
WASHINGTON STATE UNIVERSITY                                             492
                                                                      ...
WASHINGTON EXPLORER SEARCH AND RESCUE                                     2
INTERNATIONAL ALLIANCE THEATRICAL STAGE EMPLOYEES & MOVING PICTURE        2
BIRTH NETWORK                                                             2
NATIONAL ASSOCIATON OF CORPORATE DIRECTORS                                2
NATIONAL SOCIETY COLONIAL DAMES XVII CENTURY                              2
Name: NAME, Length: 793, dtype: int64

In [6]:
# Look at APPLICATION_TYPE value counts for binning
app_type2 = application_df2.APPLICATION_TYPE.value_counts()
app_type2

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Determine which values to replace if counts are less than ...?
replace_application2 = list(app_type2[app_type2 < 200].index)
    
# Replace in dataframe
for app in replace_application2:
    application_df2.APPLICATION_TYPE = application_df2.APPLICATION_TYPE.replace(app,"Other")
    
# Check to make sure binning was successful
application_df2.APPLICATION_TYPE.value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts for binning
class_val2 = application_df2.CLASSIFICATION.value_counts()
class_val2.head()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
# Determine which values to replace if counts are less than ..?
replace_class2 = list(class_val2[class_val2 < 300].index)

# Replace in dataframe
for cls in replace_class2:
    application_df2.CLASSIFICATION = application_df2.CLASSIFICATION.replace(cls,"Other")
    
# Check to make sure binning was successful
application_df2.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [10]:
application_df2[application_cat2].nunique()

NAME                      793
APPLICATION_TYPE            9
AFFILIATION                 6
CLASSIFICATION              7
USE_CASE                    5
ORGANIZATION                4
INCOME_AMT                  9
SPECIAL_CONSIDERATIONS      2
dtype: int64

In [11]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df2 = pd.DataFrame(enc.fit_transform(application_df2[application_cat2]))

# Add the encoded variable names to the dataframe
encode_df2.columns = enc.get_feature_names_out(application_cat2)
encode_df2.head()

/home/codespace/.local/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

,NAME_4-H CLUBS & AFFILIATED 4-H ORGANIZATIONS,NAME_AACE INTERNATIONAL,NAME_ACADEMY OF GENERAL DENTISTRY,NAME_ACADEMY OF MANAGED CARE PHARMACY,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_ACTIVE 20-30 UNITED STATES AND CANADA,NAME_ACTS MINISTRY,NAME_ACTS MISSIONS,NAME_AFRICAN-AMERICAN POSTAL LEAGUE UNITED FOR SUCCESS A-PLUS,NAME_AGENTS ASSOCIATION,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [12]:
# Merge one-hot encoded features and drop the originals
application_df2 = application_df2.merge(encode_df2,left_index=True, right_index=True)
application_df2 = application_df2.drop(application_cat2,1)
application_df2.head()

/tmp/ipykernel_1030/1566561770.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  application_df2 = application_df2.drop(application_cat2,1)

,EIN,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_4-H CLUBS & AFFILIATED 4-H ORGANIZATIONS,NAME_AACE INTERNATIONAL,NAME_ACADEMY OF GENERAL DENTISTRY,NAME_ACADEMY OF MANAGED CARE PHARMACY,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_ACTIVE 20-30 UNITED STATES AND CANADA,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,10520599,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,10531628,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,10547893,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,10553066,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,10556103,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [14]:
# Split our preprocessed data into our features and target arrays
y2 = application_df2.IS_SUCCESSFUL.values
X2 = application_df2.drop(["IS_SUCCESSFUL"], 1).values

# Split the preprocessed data into a training and testing dataset
X_train2, X_test2, y_train2, y_test2 = train_test_split(X2, y2, random_state=42, stratify=y2)

/tmp/ipykernel_1030/582311246.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X2 = application_df2.drop(["IS_SUCCESSFUL"], 1).values

In [15]:
# Create a StandardScaler instances
scaler2 = StandardScaler()

# Fit the StandardScaler
X_scaler2 = scaler2.fit(X_train2)

# Scale the data
X_train_scaled2 = X_scaler2.transform(X_train2)
X_test_scaled2 = X_scaler2.transform(X_test2)

In [20]:
#Setup to find best options
# Create a method that creates a new Sequential model with hyperparameter options
def create_model(hp2):
    nn_model2 = tf.keras.models.Sequential()
    number_input_features2 = len(X_train_scaled2[0])

    # Allow kerastuner to decide which activation function to use in hidden layers
    activation2 = hp2.Choice('activation',['relu','tanh','sigmoid'])
    
    # Allow kerastuner to decide number of neurons in first layer
    nn_model2.add(tf.keras.layers.Dense(units=hp2.Int('first_units',
        min_value=1,
        max_value=100,
        step=2), activation=activation2, input_dim=number_input_features2))

    # Allow kerastuner to decide number of hidden layers and neurons in hidden layers
    for i in range(hp2.Int('num_layers', 1, 10)):
        nn_model2.add(tf.keras.layers.Dense(units=hp2.Int('units_' + str(i),
            min_value=1,
            max_value=100,
            step=2),
            activation=activation2))
    
    nn_model2.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # Compile the model
    nn_model2.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])
    
    return nn_model2

In [21]:
#Tuner is the same as the last model
import kerastuner as kt

tuner = kt.Hyperband(
    create_model,
    objective="val_accuracy",
    overwrite=True,
    max_epochs=20,
    hyperband_iterations=2)

In [22]:
# Run the kerastuner search for best hyperparameters
tuner.search(X_train_scaled2,y_train2,epochs=20,validation_data=(X_test_scaled2,y_test2))

Trial 60 Complete [00h 00m 32s]
val_accuracy: 0.7996501326560974

Best val_accuracy So Far: 0.8010495901107788
Total elapsed time: 00h 16m 28s
INFO:tensorflow:Oracle triggered exit

In [23]:
# Get best model hyperparameters
best_hyper2 = tuner.get_best_hyperparameters(1)[0]
best_hyper2.values

{'activation': 'tanh',
 'first_units': 43,
 'num_layers': 2,
 'units_0': 73,
 'units_1': 49,
 'units_2': 75,
 'units_3': 43,
 'units_4': 47,
 'units_5': 3,
 'units_6': 91,
 'units_7': 71,
 'units_8': 11,
 'units_9': 77,
 'tuner/epochs': 20,
 'tuner/initial_epoch': 0,
 'tuner/bracket': 0,
 'tuner/round': 0}

In [25]:
# Evaluate best model against full test data
best_model2 = tuner.get_best_models(1)[0]
model_loss2, model_accuracy2 = best_model2.evaluate(X_test_scaled2,y_test2,verbose=2)
print(f"Loss: {model_loss2}, Accuracy: {model_accuracy2}")

268/268 - 0s - loss: 0.4333 - accuracy: 0.8010 - 492ms/epoch - 2ms/step
Loss: 0.4333285987377167, Accuracy: 0.8010495901107788